* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4E6C50;
    color: #FAECD6;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}
header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1.8rem;
    border: none;
    background: #FAECD6;
    color: #820000;
    border-radius: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

form button {
    color: #820000;
    background: #FAECD6;
    cursor: pointer;
    transition: all 0.3ms ease;
    margin-left: 0.5rem;
}
form button:hover {
    color: #FAECD6;
    background: #820000;
}
.fa-plus-circle {
    margin-top: 0.3rem;
    margin-left: -8px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}
select {
    color: #820000;
    background: #FAECD6;
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #820000;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: #FAECD6;
    color: #820000;
}